################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs\
bin\
/QuestionnaireWebApi/.vs/QuestionnaireWebApi/v15/Server/sqlite3
obj\
/QuestionnaireWebApi/bin/Debug/netcoreapp2.0
/QuestionnaireWebApi/obj
