<div class="editorContainer">
    <mat-button-toggle-group vertical #group="matButtonToggleGroup">
      <mat-button-toggle draggable="true" value="单选">
        <mat-icon svgIcon="singlequestion"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle draggable="true" value="多选">
        <mat-icon svgIcon="multiquestion"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle draggable="true" value="填空">
        <mat-icon svgIcon="textquestion"></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  <!-- <mat-divider [vertical]="true"></mat-divider> -->
  <div id="editor">
    <mat-card>
      <mat-card-content>
        editor
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

  </div>

  <div class="clear-both"></div>

</div>
